<footer class="page-footer grey">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
            <img src="assets/images/LogoBlancoTransparente2.png" height="80px">
        </div>
        <div class="col l4 offset-l2 s12">
          <h5 class="white-text">Contactanos</h5>
          <ul>
            <li>
                <a class="grey-text text-lighten-3" href="#!">
                    <img src="assets/images/svg/icons8-twitter.svg" alt="">
                </a>
                <a class="grey-text text-lighten-3" href="#!">
                    <img src="assets/images/svg/icons8-whatsapp.svg" alt="">
                </a>
                
                <a class="grey-text text-lighten-3" href="#!">
                    <img src="assets/images/svg/icons8-facebook.svg" alt="">
                </a>

                <a class="grey-text text-lighten-3" href="#!">
                    <img src="assets/images/svg/icons8-instagram.svg" alt="">
                </a>
            </li>
            
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      © 2021 Derechos reservados SEFIN
      </div>
    </div>
  </footer>