<app-navbar></app-navbar>


<main class="container">
  <div class="row">
    <div class="col s12">
      <h1>Bienvenidos</h1>
      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Impedit deserunt sit dolorum odit deleniti
        perferendis fugiat, soluta, tenetur nisi quasi voluptates perspiciatis reprehenderit rem, voluptas quidem
        placeat ut consequuntur? Modi!</p>
    </div>


    <div class="col s6 ">
     <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet accusamus et earum voluptates omnis voluptatem perspiciatis magnam. Praesentium numquam fugiat quisquam qui voluptate quibusdam nam, similique vero dolor, doloribus quia.
     Consequatur maiores quia, odit officiis hic error fugiat. Qui ipsa sed voluptatem! Repellendus, mollitia earum. Ex omnis ab, rerum labore aut ipsum sapiente quas eaque alias at nemo sunt quae?
     Voluptas, officia et. Et eos iusto praesentium explicabo porro deserunt repudiandae molestias quae molestiae excepturi, unde sed, sit autem repellat nemo quasi voluptatem ad cum mollitia quam? Nisi, aliquam quasi?
     Totam in ad aut, deleniti, nostrum atque laboriosam fuga debitis explicabo, labore reiciendis voluptas quaerat perferendis nam harum suscipit optio necessitatibus magni? Nisi, saepe itaque. Ad nobis earum odit minus.
     Quam, officia minus laudantium porro dignissimos architecto culpa quas rerum vitae modi ducimus magni, tempora sit in doloremque aspernatur accusamus minima molestias illum optio inventore delectus sapiente temporibus. Odit, adipisci?</p>
    </div>

    <div class="col s6 ">
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet accusamus et earum voluptates omnis voluptatem perspiciatis magnam. Praesentium numquam fugiat quisquam qui voluptate quibusdam nam, similique vero dolor, doloribus quia.
      Consequatur maiores quia, odit officiis hic error fugiat. Qui ipsa sed voluptatem! Repellendus, mollitia earum. Ex omnis ab, rerum labore aut ipsum sapiente quas eaque alias at nemo sunt quae?
      Voluptas, officia et. Et eos iusto praesentium explicabo porro deserunt repudiandae molestias quae molestiae excepturi, unde sed, sit autem repellat nemo quasi voluptatem ad cum mollitia quam? Nisi, aliquam quasi?
      Totam in ad aut, deleniti, nostrum atque laboriosam fuga debitis explicabo, labore reiciendis voluptas quaerat perferendis nam harum suscipit optio necessitatibus magni? Nisi, saepe itaque. Ad nobis earum odit minus.
      Quam, officia minus laudantium porro dignissimos architecto culpa quas rerum vitae modi ducimus magni, tempora sit in doloremque aspernatur accusamus minima molestias illum optio inventore delectus sapiente temporibus. Odit, adipisci?</p>
     </div>


    
     <div class="col s12 ">
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet accusamus et earum voluptates omnis voluptatem perspiciatis magnam. Praesentium numquam fugiat quisquam qui voluptate quibusdam nam, similique vero dolor, doloribus quia.
      Consequatur maiores quia, odit officiis hic error fugiat. Qui ipsa sed voluptatem! Repellendus, mollitia earum. Ex omnis ab, rerum labore aut ipsum sapiente quas eaque alias at nemo sunt quae?
      Voluptas, officia et. Et eos iusto praesentium explicabo porro deserunt repudiandae molestias quae molestiae excepturi, unde sed, sit autem repellat nemo quasi voluptatem ad cum mollitia quam? Nisi, aliquam quasi?
      Totam in ad aut, deleniti, nostrum atque laboriosam fuga debitis explicabo, labore reiciendis voluptas quaerat perferendis nam harum suscipit optio necessitatibus magni? Nisi, saepe itaque. Ad nobis earum odit minus.
      Quam, officia minus laudantium porro dignissimos architecto culpa quas rerum vitae modi ducimus magni, tempora sit in doloremque aspernatur accusamus minima molestias illum optio inventore delectus sapiente temporibus. Odit, adipisci?</p>
     </div>



  </div>
 
</main>


<app-footer></app-footer>