<app-navbar></app-navbar>


<main class="container">
  <div class="row">
    <div class="col s12">
      <h1>Bienvenidos</h1>
      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Impedit deserunt sit dolorum odit deleniti
        perferendis fugiat, soluta, tenetur nisi quasi voluptates perspiciatis reprehenderit rem, voluptas quidem
        placeat ut consequuntur? Modi!</p>
    </div>


    <div class="col s12 ">
      <p class="center">
        <a [routerLink]="['/registros']" routerLinkActive="router-link-active" class="btn blue">HTTP y Registros</a>
      </p>
    </div>

    <div class="col s12 ">
      <p class="center"><br><br>
       <br><br><br><br><br><br><br><br><br><br>
      </p>
    </div>

  </div>
 
</main>


<app-footer></app-footer>