/* You can add global styles to this file, and also import other style files */

$blue-darken-4: #052c69;
$blue-darken-3: #0c4184;
$blue-darken-2: #132e7b;
$blue: #052c69;
$orange: #8d7435;
$orange-light-1: #dcd2a3;
$grey: #545454;
$grey-light-1: #f4f4f4;
$grey-light-2: #b4b6be;



body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

.grey{
  background: $grey !important;
}

.blue{
  background: $blue !important;
}


.orange{
  background: $orange !important;
}



.blue .darken-4{
  background: $blue-darken-4;
}

.ngx-pagination .current {
  padding: 0.1875 rem 0.625 rem;
  background: $blue !important;
  color: #fefefe;
  cursor: default;
}

input:not([type]):focus:not([readonly]),
input[type='text']:not(.browser-default):focus:not([readonly]),
input[type='password']:not(.browser-default):focus:not([readonly]),
input[type='email']:not(.browser-default):focus:not([readonly]),
input[type='url']:not(.browser-default):focus:not([readonly]),
input[type='time']:not(.browser-default):focus:not([readonly]),
input[type='date']:not(.browser-default):focus:not([readonly]),
input[type='datetime']:not(.browser-default):focus:not([readonly]),
input[type='datetime-local']:not(.browser-default):focus:not([readonly]),
input[type='tel']:not(.browser-default):focus:not([readonly]),
input[type='number']:not(.browser-default):focus:not([readonly]),
input[type='search']:not(.browser-default):focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]) {
  border-bottom: 1px solid $blue-darken-4 !important;
  -webkit-box-shadow: 0 1px 0 0 $blue-darken-4 !important;
  box-shadow: 0 1px 0 0 $blue-darken-4 !important;
}

.input-field .prefix.active {
  color: $blue-darken-4 !important;
}

input:not([type]):focus:not([readonly]) + label,
input[type='text']:not(.browser-default):focus:not([readonly]) + label,
input[type='password']:not(.browser-default):focus:not([readonly]) + label,
input[type='email']:not(.browser-default):focus:not([readonly]) + label,
input[type='url']:not(.browser-default):focus:not([readonly]) + label,
input[type='time']:not(.browser-default):focus:not([readonly]) + label,
input[type='date']:not(.browser-default):focus:not([readonly]) + label,
input[type='datetime']:not(.browser-default):focus:not([readonly]) + label,
input[type='datetime-local']:not(.browser-default):focus:not([readonly]) + label,
input[type='tel']:not(.browser-default):focus:not([readonly]) + label,
input[type='number']:not(.browser-default):focus:not([readonly]) + label,
input[type='search']:not(.browser-default):focus:not([readonly]) + label,
textarea.materialize-textarea:focus:not([readonly]) + label {
  color: $blue-darken-4 !important;
}

main {
  margin: 2%;
}

#mensajes {
  height: auto;
}
.texto {
  padding: 4px;
  background: #fff;
}

.dropdown-content li > a,
.dropdown-content li > span {
  font-size: 16px;
  color: $grey;
  display: block;
  line-height: 22px;
  padding: 14px 16px;
}

.select-wrapper input.select-dropdown:focus {
  border-bottom: 1px solid $grey;
}

[type='checkbox']:checked + span:not(.lever):before {
  border-right: 2px solid $grey;
  border-bottom: 2px solid $grey;
}

.datepicker-date-display {
  background-color: $orange;
}

.datepicker-cancel,
.datepicker-clear,
.datepicker-today,
.datepicker-done {
  color: $orange;
}

.datepicker-table td.is-today {
  color: $orange;

  border-bottom: $orange solid 2px;
}

.datepicker-table td.is-selected {
  background-color: $orange;
  color: #fff;
}

.datepicker-day-button:focus {
  background-color: rgb(0 0 0 / 25%);
}

.collection-item {
  cursor: pointer;
}

